body
{
	padding:0;
	margin:0;
}

h3
{
	padding: 10px 0px 10px 0px;
	margin:0;
}

ul
{
	list-style-type:none;
	padding: 0;
	margin: 0;
}

button { 
	border-radius: 5px;
	padding: 5px;
	background-color: #008CBA;
	font-size:12px;
	color: white;
}

#container
{
	min-width: 300px;
	background-color: white;
	padding: 20px;
}

.remove { padding-left:5px; }